.renderer{
    margin: 20px;
}

.pixel{
    width: 20px;
    height: 20px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;

}